.block-editor__container .wp-block-post-author {
	display: flex;
	line-height: 1.5;
}

.block-editor__container img.wp-block-post-author__avatar {
	margin: $grid-size-small;
}

.wp-block-post-author__name {
	margin-left: $grid-size-small;
}
