// It needs to be investigated which of these removed styles remain applicable
// in the editor, but the removal of all the wrapper containers should
// significantly reduce the amount of corrections needed. The front-end styles
// should ideally be enough.

// Ideally this shouldn't be necessary. There should be no default margins in
// the editor.


.editor-styles-wrapper .block-editor-block-list__block.wp-block-columns {
	margin-top: -$default-block-margin;
	margin-bottom: -$default-block-margin;
}

.editor-styles-wrapper .block-editor-block-list__block.wp-block-column {
	margin-top: 0;
	margin-bottom: 0;
}
