$tree-border-width: 2px;
$tree-item-height: 36px;

.block-editor-block-navigation__container {
	padding: $grid-size - $border-width;
}

.block-editor-block-navigation__label {
	margin: 0 0 $grid-size;
	color: $dark-gray-300;
}

.block-editor-block-navigation__list,
.block-editor-block-navigation__paragraph {
	padding: 0;
	margin: 0;
}

.block-editor-block-navigation__list .block-editor-button-block-appender {
	outline: none;
	background: none;
	padding: $grid-size;
	width: $icon-button-size;
	border-radius: 4px;

	&:hover:not(:disabled):not([aria-disabled="true"]) {
		@include menu-style__hover;
		outline: none;
	}

	&:focus:not(:disabled):not([aria-disabled="true"]) {
		@include menu-style__focus;
	}
}

.block-editor-block-navigation-item__block,
.block-editor-block-navigation-item__appender {
	display: flex;
	align-items: center;
	border-radius: 4px;

	&.is-selected,
	&.is-selected:focus {
		color: $dark-gray-700;
		background: $light-gray-300;
	}

	&:hover {
		@include menu-style__hover;
	}

	.block-editor-block-mover {
		display: flex;
		margin: 5px;
	}
}

.block-editor-block-navigation-item__appender {
	width: $icon-button-size;
}

// Styles for nested block navigation lists.
.block-editor-block-navigation__list .block-editor-block-navigation__list {
	margin-top: 2px;
	border-left: $tree-border-width solid $light-gray-900;
	margin-left: 1em;

	.block-editor-block-navigation__list {
		margin-left: 1.5em;
	}

	.block-editor-block-navigation-item__block,
	.block-editor-block-navigation-item__appender {
		position: relative;
		margin-left: 0.5em;

		&::before {
			position: absolute;
			left: -0.5em;
			background: $light-gray-900;
			width: 0.5em;
			height: $tree-border-width;
			content: "";
			top: calc(50% - #{ $tree-border-width / 2 });
		}
	}

	& > li:last-child {
		position: relative;
		&::after {
			position: absolute;
			content: "";
			background: $white;
			top: ($tree-item-height + $tree-border-width ) / 2;
			bottom: 0;
			left: -$tree-border-width;
			width: $tree-border-width;
		}
	}
}

.block-editor-block-navigation-item__button {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 6px;
	text-align: left;
	color: $dark-gray-600;
	border-radius: 4px;

	.block-editor-block-icon {
		margin-right: 6px;
	}

	&:hover:not(:disabled):not([aria-disabled="true"]) {
		@include menu-style__hover;
	}

	&:focus:not(:disabled):not([aria-disabled="true"]) {
		@include menu-style__focus;
		// Override the default background color of focused buttons.
		background-color: initial;
	}
}

.components-popover.block-editor-block-navigation__popover {
	z-index: z-index(".components-popover.block-editor-block-navigation__popover");
}

.block-editor-block-navigation-item__movers {
	display: flex;
	flex-direction: row;

	// Make opacity zero for 'edit-post__fade-in-animation'.
	opacity: 0;
	@include reduce-motion("transition");

	&.is-visible {
		opacity: 1;
		@include edit-post__fade-in-animation;
	}
}
