// Hack to hide when the media modal is open
// Otherwise in Firefox the popover remains visible on top of the modal
// Changing the z-index of Popovers have wider implications.
.modal-open .block-editor-media-replace-flow__options {
	display: none;
}

.block-editor-media-replace-flow__indicator {
	margin-left: 4px;

	&::after {
		@include dropdown-arrow();
	}
}

.block-editor-media-flow__url-input {
	padding: 0 15px;
	max-width: 258px;
	padding-bottom: 10px;
	border-top: 1px solid $light-gray-800;
	margin-top: 5px;
	padding-top: 15px;

	input {
		max-width: 180px;
	}
}

.block-editor-media-replace-flow__image-url-label {
	color: $dark-gray-300;
	font-size: $default-font-size;
	padding-left: 4px;
	margin-bottom: -8px;
	display: block;
}

.block-editor-media-replace-flow__link-viewer {
	margin-left: -3px;

	// Overflow is not working properly if we show the icon.
	.components-external-link__icon {
		display: none;
	}
	.components-visually-hidden {
		position: initial;
	}
	.components-button {
		flex-shrink: 0;
	}

	button {
		position: relative;
		top: -8px;
	}
}

.block-editor-media-replace-flow__link-editor {
	.block-editor-url-input .components-base-control__field input[type="text"] {
		border: 1px solid $dark-gray-200;
	}
}
